.page {
    margin: 100px auto;
    max-width: 600px;
}

img {
    border-radius: 50%;
    width: 65px;
    max-height: 70px;
    padding: 15px;
}

p {
    max-width: 190px;
    text-align: left;
}


.containerLeft {
    margin: 20px;
    padding: 5px;
    max-width: 300px;
    background-color: lightsteelblue;
    border-radius: 5px;
    display: flex;
}

.textContainerLeft {
    margin: 20px 10px 10px;
}



.containerRight {
    margin: 30px 20px 30px 250px;
    padding: 5px;
    max-width: 300px;
    background-color: lightsteelblue;
    border-radius: 5px;
    display: flex;
}

.textContainerRight {
    margin: 20px 10px 10px;
}



.wrapper {
    text-align: center;
}

.inputTextBox {
    width: 350px;
    height: 200px;
    margin: 50px 10px 10px;
    text-align: center;
}

#submit {
    background-color: lightgreen;
    border-radius: 5px;
}
