.page {
    margin: 100px auto;
    max-width: 600px;
}

img {
    border-radius: 50%;
    width: 65px;
    max-height: 70px;
}

p {
    margin: 15px 0;
}

.containerLeft {
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    background-color: lightsteelblue;
    border-radius: 5px;
    display: flex;
}

.text-container {
    flex-grow: 1;
}

.containerRight {
    margin: 30px 20px 30px 250px;
    padding: 20px;
    max-width: 300px;
    background-color: lightsteelblue;
    border-radius: 5px;
    display: flex;
}

.avatarLeft {
    margin-right: 15px;
}

.avatarRight {
    margin-left: 15px;
}

.wrapper {
    text-align: center;
}

.inputTextBox {
    width: 350px;
    height: 200px;
    margin: 50px 10px 10px;
    text-align: center;
}

#submit {
    background-color: lightgreen;
    border-radius: 5px;
}
